---
---

$dkgray: #515151;
$teal: #039E8E;
$orange: #F16A4E;
$blue: #00799A;

/* general */

body{
	font-family: Moneratt, serif;
	font-size: 12pt;
	color: $dkgray;
}

section, header{
    width: 800px;
    max-width: calc(100% - 20px);
    margin: 0 auto;
    padding: 0 10px;
}

a{
	color: $blue;
	text-decoration: none;
	&:hover{
		color: $dkgray;
		text-decoration: none;
	}
}

h1, h2{
	color: $teal;
}

