---
---

$dkgray: #515151;
$teal: #039E8E;
$orange: #F16A4E;
$blue: #00799A;

/* general */

body{
	font-family: Moneratt, serif;
	font-size: 14pt;
	color: $dkgray;
	line-height: 1.5;
}

main{
    width: 800px;
    max-width: calc(100% - 20px);
    margin: 0 auto;
    padding: 0 10px;
}

header{
	h1{
	    font-size:30pt;
	    color:white;
	    text-align:center;
	    background: linear-gradient(#039E8E, #00799A); 
	    padding: 10px 0;  
	}
	img{
	    display:block;
	    margin: 0 auto;
	    width:300px;
	}
}

footer{
	color: white;
	height: 60px;
	background: linear-gradient(#039E8E, #00799A);   
	text-align:center;
}

h1, h2, button{
	color: $teal;
	font-family: Trebuchet MS;
	font-variant: small-caps;
    letter-spacing: 1.5pt;
}

a{
	color: $blue;
	text-decoration: none;
	&:hover{
		color: $dkgray;
		text-decoration: none;
	}
}

hr{
    height: 2px;
    width: 50%;
    max-width: 400px;
    background: linear-gradient(to right, #00799A,#039E8E)
}

li::marker {
  color: $orange;
}

button{
	  background-color: $orange;
	  border: none;
	  color: white;
	  padding: 15px 32px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 25px;
      transition-duration: 0.4s;
	  &:hover{
		background-color: $teal;
		text-decoration: none;
		cursor: pointer;
	}
}

p.small{
	font-size: 10pt;
}

.center{
	text-align: center;
}

